# Copy this file to ".env.local" and paste in your web3.storage API token.
# If you don't have a token, see the quickstart guide: https://docs.web3.storage/#quickstart
VITE_WEB3STORAGE_TOKEN="paste-your-token-here"
