
@import url(https://weloveiconfonts.com/api/?family=fontawesome);
@import 'spinner.css';

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* apply to hide an element, remove to show */
.hidden {
  display: none;
}

body {
  font-size: 16px;
  font-family: -apple-system, system-ui;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  height: 40px;
  background-color: rgba(252,101,83,1);
  display: flex;
  align-items: center;
  padding: 10px;
}

.spacer {
  flex-grow: 1;
}

nav {
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: rgba(23,22,145, 1);
  text-decoration: none;
}

.nav-current-page {
  color: white;
}

form {
  width: 500px;
  padding: 16px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  color:#333;
}

input {
  min-width: 90%;
}

label {
  display: block;
  padding: 32px 0 8px;
  font-weight: 700;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#welcome-message {
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#inputs {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

#token-form {
  display: flex;
  flex-direction: column;
}

.preview-image {
  max-width: 800px;
}


#upload-in-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-in-progress.hidden {
  display: none;
}


#output {
  padding: 16px;
  margin-top: auto;
  color: lime;
  background:#222;
  font-family: Courier New, ui-monospace, monospace;
  font-weight: 500;
  line-height: 1.6;
  min-height: 200px;
  width: 100%;
  overflow-y: scroll;
}

#output a {
  color: aqua
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 550px;
  font-family: sans-serif;
  padding: 20px;
}

#drop-area.highlight {
  border-color: purple;
}

.select-button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
.select-button:hover {
  background: #ddd;
}

#upload-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}

#gallery-ui {
  color: #2c3e50;
  height: 100%;
}

.gallery-image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gallery-image-card img {
  max-height: 600px;
}

.gallery-image-caption {
  font-size: larger;
  font-weight: bold;
  padding: 10px;
}

.glide__arrow {
  color: #2c3e50;
}

.share-link {
  text-decoration: none;
}

#carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

